$page-bg: #121733;
$page-text-onbg: #8995d6;
$page-text-title: #8995d6;
$card-bg: #26316d;
$card-bg-hover: #6271c8;
$card-border: #8995d6;
$card-border-hover: #f3f4fb;
$card-text: #d8dcf1;
$menu-top: #d8dcf1;
